# Project2

In [1]:
import requests
import pandas as pd

###### Download the datase

In [2]:
# pip install requests

In [3]:
url = "https://corgis-edu.github.io/corgis/datasets/csv/weather/weather.csv"
response = requests.get(url)

###### Write data to a file

In [5]:
with open("weather_data.csv", "wb") as file:
    file.write(response.content)

###### Read data

In [6]:
weather_df = pd.read_csv("weather_data.csv")

In [7]:
weather_df

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16738,0.08,2017-01-01,1,1,2017,Casper,CPR,"Casper, WY",Wyoming,23,32,15,23,19.98
16739,0.00,2017-01-01,1,1,2017,Cheyenne,CYS,"Cheyenne, WY",Wyoming,32,42,21,26,15.16
16740,0.00,2017-01-01,1,1,2017,Lander,LND,"Lander, WY",Wyoming,17,29,4,26,1.65
16741,0.06,2017-01-01,1,1,2017,Rawlins,RWL,"Rawlins, WY",Wyoming,23,31,13,24,18.16
16742,0.10,2017-01-01,1,1,2017,Sheridan,SHR,"Sheridan, WY",Wyoming,21,34,8,23,7.51

###### Display information about the DataFrame

In [10]:
print("Information about the DataFrame:")
print(weather_df.info())
print()

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16743 entries, 0 to 16742
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Data.Precipitation         16743 non-null  float64
 1   Date.Full                  16743 non-null  object
 2   Date.Month                 16743 non-null  int64
 3   Date.Week of               16743 non-null  int64
 4   Date.Year                  16743 non-null  int64
 5   Station.City               16743 non-null  object
 6   Station.Code               16743 non-null  object
 7   Station.Location           16743 non-null  object
 8   Station.State              16743 non-null  object
 9   Data.Temperature.Avg Temp  16743 non-null  int64
 10  Data.Temperature.Max Temp  16743 non-null  int64
 11  Data.Temperature.Min Temp  16743 non-null  int64
 12  Data.Wind.Direction        16743 non-null  int64
 13  Data.Wind.Speed            16743 non-null  float64
dtypes: float64(2), int64(7), object(5)
memory usage: 1.8+ MB
None

###### Display summary statistics of the DataFrame

In [11]:
print("Summary statistics of the DataFrame:")
print(weather_df.describe())

Summary statistics of the DataFrame:
       Data.Precipitation    Date.Month  Date.Week of     Date.Year  \
count        16743.000000  16743.000000  16743.000000  16743.000000
mean             0.579090      6.343128     15.650242   2016.018933
std              0.988057      3.490723      8.923425      0.136294
min              0.000000      1.000000      1.000000   2016.000000
25%              0.000000      3.000000      8.000000   2016.000000
50%              0.190000      6.000000     16.000000   2016.000000
75%              0.750000      9.000000     24.000000   2016.000000
max             20.890000     12.000000     31.000000   2017.000000

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
count               16743.000000               16743.000000
mean                   56.089112                  66.042406
std                    18.798295                  19.787954
min                   -27.000000                 -19.000000
25%                    44.000000                  53.000000
50%                    58.000000                  68.000000
75%                    71.000000                  82.000000
max                   100.000000                 111.000000

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
count               16743.000000         16743.000000     16743.000000
mean                   45.642716            18.791316         6.329820
std                    18.559263             6.461527         3.494785
min                   -35.000000             0.000000         0.000000
25%                    33.000000            15.000000         4.040000
50%                    47.000000            19.000000         5.940000
75%                    60.000000            23.000000         8.080000
max                    88.000000            36.000000        61.100000

###### Calculate average

In [12]:
avg_temperature = weather_df['Data.Temperature.Avg Temp'].mean()
max_temperature = weather_df['Data.Temperature.Max Temp'].mean()
min_temperature = weather_df['Data.Temperature.Min Temp'].mean()
avg_wind_speed = weather_df['Data.Wind.Speed'].mean()
avg_wind_direction = weather_df['Data.Wind.Direction'].mean()

In [13]:
print(f"Average Temperature: {avg_temperature}")
print(f"Average Max Temperature: {max_temperature}")
print(f"Average Min Temperature: {min_temperature}")
print(f"Average Wind Speed: {avg_wind_speed}")
print(f"Average Wind Direction: {avg_wind_direction}")

Average Temperature: 56.08911186764618
Average Max Temperature: 66.04240578152064
Average Min Temperature: 45.642716359075436
Average Wind Speed: 6.3298202233769345
Average Wind Direction: 18.791315773756196